In [2]:
import pandas as pd
import numpy as np

In [4]:
file1=pd.read_excel('files_for_lab/excel_files/file1.xlsx')
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0,106,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644,78,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209,102,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.600000

In [5]:
file2=pd.read_excel('files_for_lab/excel_files/file2.xlsx')
file2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [6]:
file3=pd.read_excel('files_for_lab/excel_files/file3.xlsx')
file3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [7]:
print(file1.shape)

(1071, 11)

In [38]:
print(file2.shape)

(996, 11)

In [39]:
print(file3.shape)

(7070, 11)

In [37]:
file1.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0,106,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68,1/0/00,Personal Auto,Four-Door Car,17.269323

In [27]:
file2.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [30]:
file3.head()

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV

In [43]:
file1.rename(columns={1: 'State', 2: 'Gender'}, inplace=True)

In [44]:
file1

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0,106,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644,78,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209,102,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.600000

In [52]:

file1.rename(columns = {'ST':'State', 'GENDER':'Gender'}, inplace = True)

In [53]:
file1

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0,1000,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0,94,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767,108,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0,106,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357,68,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644,78,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209,102,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230,112,1/0/00,Personal Auto,Two-Door Car,537.600000

In [54]:
file2.rename(columns = {'ST':'State', 'GENDER':'Gender'}, inplace = True)
file2

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [55]:
file3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [56]:
file1_backup = file1

In [57]:
file1_new = file1[['Customer', 'State', 'Gender', 'Education','Income','Customer Lifetime Value',
'Policy Type','Number of Open Complaints','Vehicle Class', 'Monthly Premium Auto','Total Claim Amount']]

In [58]:
file1_new

,Customer,State,Gender,Education,Income,Customer Lifetime Value,Policy Type,Number of Open Complaints,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,NaN,Master,0,NaN,Personal Auto,1/0/00,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,Bachelor,0,697953.59%,Personal Auto,1/0/00,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,Bachelor,48767,1288743.17%,Personal Auto,1/0/00,Two-Door Car,108,566.472247
3,WW63253,California,M,Bachelor,0,764586.18%,Corporate Auto,1/0/00,SUV,106,529.881344
4,GA49547,Washington,M,High School or Below,36357,536307.65%,Personal Auto,1/0/00,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,38644,305955.03%,Personal Auto,1/1/00,Four-Door Car,78,361.455219
1067,VJ51327,Cali,F,High School or Below,63209,2031499.76%,Personal Auto,1/2/00,SUV,102,207.320041
1068,GS98873,Arizona,F,Bachelor,16061,323912.47%,Personal Auto,1/0/00,Four-Door Car,88,633.600000
1069,CW49887,California,F,Master,79487,462680.11%,Special Auto,1/0/00,SUV,114,547.200000
1070,MY31220,California,F,College,54230,899704.02%,Personal Auto,1/0/00,Two-Door Car,112,537.600000

In [59]:
file1 = file1_new

In [60]:
file1

,Customer,State,Gender,Education,Income,Customer Lifetime Value,Policy Type,Number of Open Complaints,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,NaN,Master,0,NaN,Personal Auto,1/0/00,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,Bachelor,0,697953.59%,Personal Auto,1/0/00,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,Bachelor,48767,1288743.17%,Personal Auto,1/0/00,Two-Door Car,108,566.472247
3,WW63253,California,M,Bachelor,0,764586.18%,Corporate Auto,1/0/00,SUV,106,529.881344
4,GA49547,Washington,M,High School or Below,36357,536307.65%,Personal Auto,1/0/00,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,38644,305955.03%,Personal Auto,1/1/00,Four-Door Car,78,361.455219
1067,VJ51327,Cali,F,High School or Below,63209,2031499.76%,Personal Auto,1/2/00,SUV,102,207.320041
1068,GS98873,Arizona,F,Bachelor,16061,323912.47%,Personal Auto,1/0/00,Four-Door Car,88,633.600000
1069,CW49887,California,F,Master,79487,462680.11%,Special Auto,1/0/00,SUV,114,547.200000
1070,MY31220,California,F,College,54230,899704.02%,Personal Auto,1/0/00,Two-Door Car,112,537.600000

In [61]:
file2_new = file2[['Customer', 'State', 'Gender', 'Education','Income','Customer Lifetime Value',
'Policy Type','Number of Open Complaints','Vehicle Class', 'Monthly Premium Auto','Total Claim Amount']]

In [62]:
file3_new = file3[['Customer', 'State', 'Gender', 'Education','Income','Customer Lifetime Value',
'Policy Type','Number of Open Complaints','Vehicle Class', 'Monthly Premium Auto','Total Claim Amount']]

In [63]:
file2 = file2_new

In [64]:
file3= file3_new

In [65]:
file3

,Customer,State,Gender,Education,Income,Customer Lifetime Value,Policy Type,Number of Open Complaints,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,SA25987,Washington,M,High School or Below,0,3479.137523,Personal Auto,0,Two-Door Car,104,499.200000
1,TB86706,Arizona,M,Master,0,2502.637401,Personal Auto,0,Two-Door Car,66,3.468912
2,ZL73902,Nevada,F,Bachelor,25820,3265.156348,Personal Auto,0,Four-Door Car,82,393.600000
3,KX23516,California,F,High School or Below,0,4455.843406,Personal Auto,0,SUV,121,699.615192
4,FN77294,California,M,High School or Below,30366,7704.958480,Personal Auto,2,SUV,101,484.800000
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,71941,23405.987980,Personal Auto,0,Four-Door Car,73,198.234764
7066,PK87824,California,F,College,21604,3096.511217,Corporate Auto,0,Four-Door Car,79,379.200000
7067,TD14365,California,M,Bachelor,0,8163.890428,Corporate Auto,3,Four-Door Car,85,790.784983
7068,UP19263,California,M,College,21941,7524.442436,Personal Auto,0,Four-Door Car,96,691.200000
7069,Y167826,California,M,College,0,2611.836866,Corporate Auto,0,Two-Door Car,77,369.600000

In [220]:
files = pd.concat([file1,file2,file3], ignore_index=True)

,Customer,State,Gender,Education,Income,Customer Lifetime Value,Policy Type,Number of Open Complaints,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,NaN,Master,0,NaN,Personal Auto,1/0/00,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,Bachelor,0,697953.59%,Personal Auto,1/0/00,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,Bachelor,48767,1288743.17%,Personal Auto,1/0/00,Two-Door Car,108,566.472247
3,WW63253,California,M,Bachelor,0,764586.18%,Corporate Auto,1/0/00,SUV,106,529.881344
4,GA49547,Washington,M,High School or Below,36357,536307.65%,Personal Auto,1/0/00,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,Bachelor,71941,23405.98798,Personal Auto,0,Four-Door Car,73,198.234764
9133,PK87824,California,F,College,21604,3096.511217,Corporate Auto,0,Four-Door Car,79,379.200000
9134,TD14365,California,M,Bachelor,0,8163.890428,Corporate Auto,3,Four-Door Car,85,790.784983
9135,UP19263,California,M,College,21941,7524.442436,Personal Auto,0,Four-Door Car,96,691.200000
9136,Y167826,California,M,College,0,2611.836866,Corporate Auto,0,Two-Door Car,77,369.600000

In [221]:
files.select_dtypes(include=np.number).columns.tolist()

['Income', 'Monthly Premium Auto', 'Total Claim Amount']

In [222]:
files.select_dtypes(include=object).columns.tolist()

['Customer',
 'State',
 'Gender',
 'Education',
 'Customer Lifetime Value',
 'Policy Type',
 'Number of Open Complaints',
 'Vehicle Class']

In [223]:
files= files.drop(columns=["Education", "Number of Open Complaints"])

In [129]:
display(files)

,Customer,State,Gender,Income,Customer Lifetime Value,Policy Type,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,NaN,0,NaN,Personal Auto,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,0,697953.59%,Personal Auto,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,48767,1288743.17%,Personal Auto,Two-Door Car,108,566.472247
3,WW63253,California,M,0,764586.18%,Corporate Auto,SUV,106,529.881344
4,GA49547,Washington,M,36357,536307.65%,Personal Auto,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,71941,23405.98798,Personal Auto,Four-Door Car,73,198.234764
9133,PK87824,California,F,21604,3096.511217,Corporate Auto,Four-Door Car,79,379.200000
9134,TD14365,California,M,0,8163.890428,Corporate Auto,Four-Door Car,85,790.784983
9135,UP19263,California,M,21941,7524.442436,Personal Auto,Four-Door Car,96,691.200000
9136,Y167826,California,M,0,2611.836866,Corporate Auto,Two-Door Car,77,369.600000

,Customer,State,Gender,Income,Customer Lifetime Value,Policy Type,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,NaN,0,NaN,Personal Auto,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,0,697953.59%697953.59%697953.59%697953.59%697953...,Personal Auto,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,48767,1288743.17%1288743.17%1288743.17%1288743.17%12...,Personal Auto,Two-Door Car,108,566.472247
3,WW63253,California,M,0,764586.18%764586.18%764586.18%764586.18%764586...,Corporate Auto,SUV,106,529.881344
4,GA49547,Washington,M,36357,536307.65%536307.65%536307.65%536307.65%536307...,Personal Auto,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,71941,2340598.798,Personal Auto,Four-Door Car,73,198.234764
9133,PK87824,California,F,21604,309651.1217,Corporate Auto,Four-Door Car,79,379.200000
9134,TD14365,California,M,0,816389.0428,Corporate Auto,Four-Door Car,85,790.784983
9135,UP19263,California,M,21941,752444.2436,Personal Auto,Four-Door Car,96,691.200000
9136,Y167826,California,M,0,261183.6866,Corporate Auto,Two-Door Car,77,369.600000

In [96]:
files

,Customer,State,Gender,Income,Customer Lifetime Value,Policy Type,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,NaN,0,NaN,Personal Auto,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,0,697953.59%697953.59%697953.59%697953.59%697953...,Personal Auto,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,48767,1288743.17%1288743.17%1288743.17%1288743.17%12...,Personal Auto,Two-Door Car,108,566.472247
3,WW63253,California,M,0,764586.18%764586.18%764586.18%764586.18%764586...,Corporate Auto,SUV,106,529.881344
4,GA49547,Washington,M,36357,536307.65%536307.65%536307.65%536307.65%536307...,Personal Auto,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,71941,2340598.798,Personal Auto,Four-Door Car,73,198.234764
9133,PK87824,California,F,21604,309651.1217,Corporate Auto,Four-Door Car,79,379.200000
9134,TD14365,California,M,0,816389.0428,Corporate Auto,Four-Door Car,85,790.784983
9135,UP19263,California,M,21941,752444.2436,Personal Auto,Four-Door Car,96,691.200000
9136,Y167826,California,M,0,261183.6866,Corporate Auto,Two-Door Car,77,369.600000

In [224]:
files['Customer Lifetime Value'] = files['Customer Lifetime Value'].replace('%','',regex=True)

In [178]:
files

,Customer,State,Gender,Income,Customer Lifetime Value,Policy Type,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,NaN,0,NaN,Personal Auto,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,0,697953.59,Personal Auto,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,48767,1288743.17,Personal Auto,Two-Door Car,108,566.472247
3,WW63253,California,M,0,764586.18,Corporate Auto,SUV,106,529.881344
4,GA49547,Washington,M,36357,536307.65,Personal Auto,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,71941,23405.98798,Personal Auto,Four-Door Car,73,198.234764
9133,PK87824,California,F,21604,3096.511217,Corporate Auto,Four-Door Car,79,379.200000
9134,TD14365,California,M,0,8163.890428,Corporate Auto,Four-Door Car,85,790.784983
9135,UP19263,California,M,21941,7524.442436,Personal Auto,Four-Door Car,96,691.200000
9136,Y167826,California,M,0,2611.836866,Corporate Auto,Two-Door Car,77,369.600000

In [225]:
files['Customer Lifetime Value'] = pd.to_numeric(files['Customer Lifetime Value'] , errors='coerce')*100

In [226]:
files = files.fillna(0)

In [227]:
files['Customer Lifetime Value'] = files['Customer Lifetime Value'].astype(np.int64)

In [217]:
files

,Customer,State,Gender,Income,Customer Lifetime Value,Policy Type,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,0,0,0,Personal Auto,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,0,6979535900,Personal Auto,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,48767,12887431700,Personal Auto,Two-Door Car,108,566.472247
3,WW63253,California,M,0,7645861800,Corporate Auto,SUV,106,529.881344
4,GA49547,Washington,M,36357,5363076500,Personal Auto,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,71941,234059879,Personal Auto,Four-Door Car,73,198.234764
9133,PK87824,California,F,21604,30965112,Corporate Auto,Four-Door Car,79,379.200000
9134,TD14365,California,M,0,81638904,Corporate Auto,Four-Door Car,85,790.784983
9135,UP19263,California,M,21941,75244424,Personal Auto,Four-Door Car,96,691.200000
9136,Y167826,California,M,0,26118368,Corporate Auto,Two-Door Car,77,369.600000

In [228]:
files.drop_duplicates()

,Customer,State,Gender,Income,Customer Lifetime Value,Policy Type,Vehicle Class,Monthly Premium Auto,Total Claim Amount
0,RB50392,Washington,0,0,0,Personal Auto,Four-Door Car,1000,2.704934
1,QZ44356,Arizona,F,0,69795359,Personal Auto,Four-Door Car,94,1131.464935
2,AI49188,Nevada,F,48767,128874317,Personal Auto,Two-Door Car,108,566.472247
3,WW63253,California,M,0,76458618,Corporate Auto,SUV,106,529.881344
4,GA49547,Washington,M,36357,53630765,Personal Auto,Four-Door Car,68,17.269323
...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,M,71941,2340598,Personal Auto,Four-Door Car,73,198.234764
9133,PK87824,California,F,21604,309651,Corporate Auto,Four-Door Car,79,379.200000
9134,TD14365,California,M,0,816389,Corporate Auto,Four-Door Car,85,790.784983
9135,UP19263,California,M,21941,752444,Personal Auto,Four-Door Car,96,691.200000
9136,Y167826,California,M,0,261183,Corporate Auto,Two-Door Car,77,369.600000

In [229]:
files.loc[files['Income'] > 0]

,Customer,State,Gender,Income,Customer Lifetime Value,Policy Type,Vehicle Class,Monthly Premium Auto,Total Claim Amount
2,AI49188,Nevada,F,48767,128874317,Personal Auto,Two-Door Car,108,566.472247
4,GA49547,Washington,M,36357,53630765,Personal Auto,Four-Door Car,68,17.269323
5,OC83172,Oregon,F,62902,82562978,Personal Auto,Two-Door Car,69,159.383042
6,XZ87318,Oregon,F,55350,53808986,Corporate Auto,Four-Door Car,67,321.600000
8,DY87989,Oregon,M,14072,241275040,Corporate Auto,Four-Door Car,71,511.200000
...,...,...,...,...,...,...,...,...,...
9130,TF56202,California,M,66367,503216,Personal Auto,Two-Door Car,64,307.200000
9131,YM19146,California,F,47761,410039,Personal Auto,Four-Door Car,104,541.282007
9132,LA72316,California,M,71941,2340598,Personal Auto,Four-Door Car,73,198.234764
9133,PK87824,California,F,21604,309651,Corporate Auto,Four-Door Car,79,379.200000
9135,UP19263,California,M,21941,752444,Personal Auto,Four-Door Car,96,691.200000